@{
 Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>@ViewData["Title"] - PayRex</title>
 <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/icon/payrexiconofficial.ico" />

</head>
<body class="min-h-screen flex items-center justify-center">
 <div class="container mx-auto px-4">
 @RenderBody()
 </div>
</body>
</html>